<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="{{link}}" target="_blank">{{title}}</a>
    </h3>
  </div>
  <div class="panel-body">
    {{summary}}
    <br/>
    {{#if saved}}
      <button class="remove-saved" data-id="{{_id}}">
        Remove
      </button>
      <button class="view-notes" data-id="{{_id}}">
        Notes
      </button>
    {{/if}}
    {{#unless saved}}
      <button class="add-saved" data-id="{{_id}}">
        Save
      </button>
    {{/unless}}
  </div>
</div>